
<div data-controller="preview-img" class="d-flex justify-content-center align-items-center">
  <div class="card p-4 signup-form">
    <h2 class="text-center fw-bold">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%#= link_to "Fan", url_for(role: "fan"), class: "btn btn-success btn-form fw-bold" %>
      <%#= link_to "Athlete", url_for(role: "athlete"), class: "btn btn-warning btn-form fw-bold" %>

      <div class="container p-4"> 
        <%= f.fields_for :fan do |g| %>

          <%= g.file_field :profile_pic, id: "profile-pic-fan-input", 
              class: "form-control", style: "display: none;", 
              accept: "image/*", "data-action": "change->preview-img#previewImage" %>

          <div class="text-center my-4">
            <label for="profile-pic-fan-input">
              <div id="profile-pic-fan-preview"  data-preview-img-target="preview">
                <%= image_tag("profile_default", class: "profile-pic") %> 
              </div>
            </label>
          </div>

          <h4 class="text-center fw-bold mb-4">Fan profile</h4>

          <div class="input-group my-2">
            <%= g.label :pseudo, class:"input-group-text label-colored" %>
            <%= g.text_field :pseudo, class:"form-control" %>
          </div>
                
        <% end %>
      </div>

      <div class="container px-4"> 

        <div class="input-group mb-2">
          <%= f.label :email, class:"input-group-text label-with-format label-colored" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control " %>
        </div>

        <div class="input-group mb-2">
          <%= f.label :password, class:"input-group-text label-with-format label-colored" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control " %>
        </div>

        <div class="input-group mb-2">
          <%= f.label :confirmation, class:"input-group-text label-with-format label-colored" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control " %>
        </div>

        <button type="submit" class="btn btn-primary container-fluid my-4">
          <i class="fa-solid fa-xl fa-square-check"></i> 
          <span class="fw-bold ms-2"> SIGN UP</span>
        </button>

        <div class="text-dark fw-bold text-center">
          <small>you already have an account ?</small>
          <%= link_to "Log in", new_session_path(resource_name) %><br />
        </div>

      </div>

    <% end %>

    <%= link_to "Create Athlete Profile", steps_athlete_step1_path(role: "athlete"), 
              class: "btn btn-secondary btn-form container-fluid my-4" %>

  </div>

</div>



